* {
    margin: 0;
    box-sizing: border-box;
}

body {
   font-family: sans-serif;
   padding: 120px 30px 0;
}
a{
    background-color: darkseagreen;
    color: white;
    transition: 0.5s;
    text-align:  right;
}
alt{
    background-color: cadetblue;
    transition: 0.5s;
    text-align:  right;
}
aside{
    background-color: darkseagreen;
    color: white;
    transition: 0.5s;
    text-align:  right;
    display: flex;
   justify-content: space-between;
   margin: 0 auto;
   text-align:  right;
}
.header {
    background-color: darkseagreen;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   text-align:  right;
}

.nav-link {
    color: white;
    text-decoration: none;
    text-align:  right;
}


.nav-menu {
    display: flex;
    margin-right: 30px;
    list-style: none;
    text-align:  right;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
    text-align:  right;
    
}

.nav-menu-link {
    padding: 8px 12px;
    text-align:  right;
    border-radius: 4px;
}

.nav-menu-link:hover {
    background-color: cadetblue;
    transition: 0.5s;
    text-align:  right;
    
}